body{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color:rgb(148, 21, 21);
img{
    height:250px;
    width: 250px;
    margin-left: 600px;    
}
h1{
    margin-left: 450px;
}
button{
    width: 150px;
    height: 35px;
    margin-left: 650px;
    background: linear-gradient(black ,red,silver);
    color: white;
    border-radius: 20px;
}
body{
    background-image: bg.jpg;
}


